doctype html

/! Include mount point data for use in javascripts (e.g. Path in ajax requests)
html data-mount-point="#{mount_point}"
  head
    title == settings.title
    link rel="icon" href="#{mount_point}/favicon.ico" type="image/x-icon"
    link rel="shortcut icon" href="#{mount_point}/favicon.ico" type="image/x-icon"

    script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"
    link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"

    /! Assume child apps have their own css/jss. Explicitly exclude to stop 404 if not
    - unless settings.respond_to?(:exclude_css) && settings.exclude_css
      link rel="stylesheet" type="text/css" href="#{mount_point}/main.css"
    - unless settings.respond_to?(:exclude_js) && settings.exclude_js
      script type="text/javascript" src="#{mount_point}/main.js"

    css:
      @font-face {
        font-family: OpenSans;
        src: url("#{mount_point}/assets/OpenSans-Regular.ttf");
      }

      @font-face {
        font-family: OpenSans-Bold;
        src: url("#{mount_point}/assets/OpenSans-Bold.ttf");
      }

      @font-face {
        font-family: OpenSans-Light;
        src: url("#{mount_point}/assets/OpenSans-Light.ttf");
      }

      @font-face {
        font-family: OpenSans-Italic;
        src: url("#{mount_point}/assets/OpenSans-Italic.ttf");
      }

      body {
        background-color: #565a5c;
        font-family: OpenSans, Helvetica, Arial, sans-serif;
      }

      #content {
        background-color: #ffffff;
        border: 2px solid black;
        margin: 20px auto;
        padding: 20px;
        width: 75%;
      }

      #logo {
        margin: 50px auto;
        display: block;
        width: 275px;
      }

  body
    img#logo [src='#{mount_point}/assets/cu-online.png']
    div#content
      == styled_flash
      == yield
